/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */
@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,400i,500,600,700,800");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Oswald&display=swap");

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.sidenav-trigger {
  color: rgb(190, 0, 105);
  margin-top: 1vh !important;
}

.parallax-container {
  min-height: 300px;
  line-height: 0;
  height: auto;
  color: rgba(255, 255, 255, 0.9);
}

.parallax-container .section {
  width: 100%;
}

@media only screen and (max-width: 992px) {
  .parallax-container {
    min-height: 150px;
  }

  .parallax-container .section {
    position: absolute;
  }

  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width: 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}

.icon-block .material-icons {
  font-size: inherit;
}

/* CUSTOM EDIT FROM HERE */

body {
  font-family: "Montserrat", sans-serif;
  color: #000;
  background-color: rgb(248, 248, 248);
}

/* NAV */

nav {
  height: 15vh !important;
  line-height: 15vh;
  overflow: hidden;
  text-transform: uppercase;
}

.nav-ul {
  font-weight: 600;
}

.brand-logo {
  font-size: 2.1rem !important;
  font-family: "Oswald", sans-serif;
}

nav ul a:hover {
  background-color: rgba(255, 0, 0, 0.1);
}

.row .col.push-custom {
  left: 13% !important;
}

/* DROPDOWN */
nav ul li {
  position: relative;
}

ul li ul.dropdown {
  /* Set width of the dropdown */
  background: #ffffff;
  display: none;
  position: absolute;
  z-index: 999;
  left: 0;
}

nav ul li ul a:hover {
  background-color: rgb(255, 255, 255);
}

ul li:hover ul.dropdown {
  display: block;
  /* Display the dropdown */
}

nav i,
nav [class^="mdi-"],
nav [class*="mdi-"],
nav i.material-icons {
  display: unset;
}

.material-icons-outlined {
  font-weight: 300;
  color: #442644c5;
  vertical-align: middle;
  display: inline;
}

@media screen and (max-width: 992px) {
  .brand-logo {
    font-size: 1.5rem !important;
  }

  .material-icons-outlined {
    color: rgb(156, 0, 86);
    vertical-align: unset;
  }
}

/* NAV - END  */

/* SLIDER */

.slider-container {
  padding: 2%;
  background-color: rgb(245, 245, 245);
}

.carousel.carousel-slider {
  max-height: 60vh !important;
  object-fit: cover;
}

.text-translate {
  transform: translateX(-100px);
}

.slider-title {
  font-size: 4em;
  background-color: rgb(255, 255, 255);
  padding: 1%;
}

#banner_button.btn-large {
  width: 200px;
  transform: translateX(20px);
  height: 70px;
  line-height: 70px;
  font-size: larger;
  background: rgb(255, 90, 90);
  background: linear-gradient(
    90deg,
    rgba(255, 90, 90, 1) 0%,
    rgba(253, 123, 29, 1) 44%,
    rgba(252, 176, 69, 1) 100%
  );
  color: rgb(255, 255, 255);
}

#banner_button.btn-large:hover {
  background: rgb(255, 255, 255);
  color: rgb(36, 36, 36);
  border: solid #444 1px;
}

@media screen and (max-width: 768px) {
  .carousel.carousel-slider {
    max-height: 60vh !important;
  }

  .text-translate {
    transform: translateX(0px);
  }

  .slider-title {
    padding: 3%;
    font-size: 2.7em;
  }

  .btn-large {
    width: 150px !important;
    transform: translateX(0px) !important;
    height: 50px !important;
    line-height: 50px !important;
    font-size: smaller !important;
  }
}

/* SLIDER - END */

/* NEW ARRIVALS */

#new_arrivals {
  background-color: #fff;
  padding-top: 10px;
}

#new_arrivals .title h1 {
  color: #313131;
  font-family: "Poppins", sans-serif;
  font-size: 2.7em !important;
  font-weight: 700;
}

#new_arrivals .title p {
  color: #686868;
  font-size: 1em !important;
  font-weight: 400;
  padding-bottom: 10px;
}

/* card */
.box_shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transform: translate(3px, 3px);
  transition: ease-in-out 140ms;
}

.dress-card {
  border: solid rgb(219, 219, 219) 1px;
  border-radius: 14px;
  margin: 7% 1% 7% 1%;
}

.dress-card-img-top {
  width: auto;
  max-width: 100%;
  object-fit: cover;
  height: 45vw;

  border-radius: 7px 7px 0 0;
}

@media only screen and (min-width: 601px) {
  .dress-card-img-top {
    height: 35vw;
  }
}

@media only screen and (min-width: 993px) {
  .dress-card-img-top {
    height: 25vw;
  }
}

/* @media only screen and (min-width: 1201px) {
  .dress-card-img-top {
    height: 15vw;
  }
} */

.dress-card-body {
  padding: 1em;
  border-radius: 0 0 7px 7px;
}

.dress-card-title {
  font-size: 1.3em;
  display: block;
  width: auto;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.dress-card-crossed {
  text-decoration: line-through;
}

.dress-card-price {
  font-size: 1rem;
  font-weight: bold;
}

.dress-card-off {
  color: #e06c9f;
}

.dress-card-para {
  font-size: 1rem;
}

#product_button.btn-small {
  height: 50px;
  line-height: 50px;
  background-color: rgb(255, 102, 186);
  color: rgb(255, 255, 255);
}

#product_button.btn-small:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(36, 36, 36);
  border: solid #444 1px;
}

@media screen and (max-width: 768px) {
  .dress-card {
    margin: 2% 0 2% 0;
  }

  .dress-card-title {
    font-size: 1.1em;
  }

  #product_button.btn-small {
    height: 40px;
    line-height: 40px;
  }
}

/* NEW ARRIVALS - END */

/* ALL PRODUCTS */

#all_product_button.btn-large {
  margin: 20px;
  background-color: rgb(75, 75, 75);
  color: rgb(255, 255, 255);
}

#all_product_button.btn-large:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(36, 36, 36);
  border: solid #444 1px;
}

/* ALL PRODUCTS - END */

/* LOGIN */

#login {
  background: url("../media/login/1.jpg");
  margin: 0;
}

.login-title {
  font-size: 4em;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 1%;
}

.login-body {
  border: solid #e2e2e2 1px;
  line-height: 1.7em;
  font-size: 1.4em;
  background-color: rgb(255, 255, 255);
  padding: 1%;
}

#login .card {
  margin-top: 10px;
}

.tabs {
  background-color: inherit;
}

.tabs li a {
  color: rgb(185, 185, 185) !important;
}

.tabs .tab .active {
  transition: ease 300ms;
  font-size: 2rem;
  color: #ffffff !important;
  padding-left: 0px;
  padding-right: 0px;
}

.tabs .tab a:focus,
.tabs .tab a:focus.active {
  background-color: rgba(255, 255, 255, 0) !important;
}

.tabs .indicator {
  display: none;
}

.login_card_custom {
  background-color: #422a4d;
}

.register-card {
  background-color: #095f58 !important;
}

.input-field > label {
  color: #fff;
}

input:not([type]):focus:not([readonly]) + label,
input[type="text"]:not(.browser-default):focus:not([readonly]) + label,
input[type="password"]:not(.browser-default):focus:not([readonly]) + label,
input[type="email"]:not(.browser-default):focus:not([readonly]) + label,
input[type="url"]:not(.browser-default):focus:not([readonly]) + label,
input[type="time"]:not(.browser-default):focus:not([readonly]) + label,
input[type="date"]:not(.browser-default):focus:not([readonly]) + label,
input[type="datetime"]:not(.browser-default):focus:not([readonly]) + label,
input[type="datetime-local"]:not(.browser-default):focus:not([readonly])
  + label,
input[type="tel"]:not(.browser-default):focus:not([readonly]) + label,
input[type="number"]:not(.browser-default):focus:not([readonly]) + label,
input[type="search"]:not(.browser-default):focus:not([readonly]) + label,
textarea.materialize-textarea:focus:not([readonly]) + label {
  color: #c4c4c4;
}

input:not([type]):focus:not([readonly]),
input[type="text"]:not(.browser-default):focus:not([readonly]),
input[type="password"]:not(.browser-default):focus:not([readonly]),
input[type="email"]:not(.browser-default):focus:not([readonly]),
input[type="url"]:not(.browser-default):focus:not([readonly]),
input[type="time"]:not(.browser-default):focus:not([readonly]),
input[type="date"]:not(.browser-default):focus:not([readonly]),
input[type="datetime"]:not(.browser-default):focus:not([readonly]),
input[type="datetime-local"]:not(.browser-default):focus:not([readonly]),
input[type="tel"]:not(.browser-default):focus:not([readonly]),
input[type="number"]:not(.browser-default):focus:not([readonly]),
input[type="search"]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #d1d1d1;
  -webkit-box-shadow: 0 1px 0 0 #d1d1d1;
  box-shadow: 0 1px 0 0 #d1d1d1;
}

/* BUTTONS */

.btn-large {
  margin: 20px;
  margin-left: 0;
  background-color: rgb(255, 255, 255);
  color: rgb(36, 36, 36);
}

.btn-large:hover {
  color: rgb(255, 255, 255);
  border: solid rgb(255, 255, 255) 1px;
}

#submit_login_button.btn-large:hover {
  background-color: #422a4d;
}

#submit_signup_button.btn-large:hover {
  background-color: #095f58;
}

#contact_submit_button.btn-large:hover {
  background-color: #c43b68;
}

#search_button.btn-large {
  margin: 10px;
  border: solid #000 1px;
}

#search_button.btn-large:hover {
  background-color: #1f1f1f;
}

#cat_button.btn-large {
  background-color: #ffffff;
  color: #000000;
  border: solid #000 1px;
  border-radius: 10px;
}
#cat_button.btn-large:hover {
  color: #e4e0e0;
  background-color: #161616;
}

/* BUTTONS - END */
.input-field .prefix.active {
  color: rgb(206, 206, 206);
}

@media screen and (max-width: 768px) {
  .login-title {
    padding: 3%;
    font-size: 2.7em;
  }
}

/* LOGIN - END */

/* BREADCRUMB */
.breadcrumb_wrapper {
  font-family: Poppins, sans-serif;
  z-index: -1;
  padding-top: 2%;
  padding-bottom: 2%;
  background-color: rgba(29, 29, 29, 0.562);
}

.breadcrumb_wrapper a {
  font-size: 1em;
}

@media screen and (max-width: 768px) {
  .breadcrumb_wrapper a {
    font-size: 0.7em;
  }

  .breadcrumb_wrapper .header {
    font-size: 1em;
  }
}

/* BREADCRUMB - END */

/* PRODUCT */
.product_image {
  text-align: center;
}

.product_image img {
  width: 80%;
  height: auto;
  margin: 10%;
}

.product_details {
  font-family: "Poppins", sans-serif;
}

.product_details h2 {
  color: #444;
  font-size: 2.4em;
  font-weight: 600;
  /* text-transform: uppercase; */
}

.product_details ul {
  line-height: 2em;
  display: flex;
  margin-top: 7px;
}

.product_details ul li {
  padding-right: 3%;
}

.product_details ul .mrp {
  color: rgb(145, 145, 145);
  font-size: 1.2em;
  text-decoration: line-through;
}

.product_details ul .price {
  font-size: 1.7em;
}

.product_details .product_availability p {
  font-size: 1.1em;
  font-weight: 600;
  color: rgb(85, 85, 85);
}

select {
  width: 30%;
  border: solid #bdbdbd 2px;
  border-radius: 10px;
}

.product_category {
  padding: 4%;
  padding-left: 0;
  font-size: 1.1em;
  font-weight: 600;
}

.product_category a {
  color: rgb(218, 0, 199);
}

#add_to_cart.btn-large {
  width: 200px;
  height: 70px;
  line-height: 70px;
  font-size: larger;
  background-color: rgb(255, 102, 186);
  color: rgb(255, 255, 255);
}

#add_to_cart.btn-large:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(36, 36, 36);
  border: solid #444 1px;
}

@media screen and (max-width: 768px) {
  .product_image img {
    margin: 5%;
    margin-bottom: 0;
  }
}

/* PRODUCT - END */

/* CONTACT.HTML */
/* MAPS */
.maps {
  margin-top: 30px;
}

.maps img {
  width: 100%;
  height: auto;
}

.address {
  align-items: center;
  display: flex;
  margin-top: 20px;
}

.address__icon i {
  color: #fefefe;
  font-size: 36px;
}

.address__icon {
  background: #c43b68 none repeat scroll 0 0;
  height: 120px;
  line-height: 144px;
  text-align: center;
  width: 110px;
}

.address__details {
  background: #f5f5f5 none repeat scroll 0 0;
  flex-basis: calc(100% - 110px);
  padding-left: 5%;
  padding-right: 5%;
}

.address__details h2 {
  color: #212121;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
}

.address__details p {
  color: #666666;
  font-size: 16px;
  margin-top: 10px;
}

/* MAPS - END*/

.contact_card_custom {
  background-color: #c43b68;
  border-radius: 18px;
}

/* CONTACT - END */

/* FILTERS */
/* .row #filters.push-m1 {
  left: 5.3333333333%
} */

#filters {
  /* font-family: Roboto, sans-serif; */
  overflow: hidden;
  z-index: 0;
  text-transform: uppercase;
}

#filters .title {
  color: #202020;
  font-family: "Poppins", sans-serif;
  font-size: 1.3em !important;
  font-weight: 600;
}

.filter_content {
  margin: 5%;
}

.filter_head {
  font-family: "Roboto", sans-serif;
  padding: 1rem;
  margin: 0;
  font-size: 0.8em !important;
  font-weight: 700;
  color: #212121;
}

.filter_head:hover {
  background-color: rgb(245, 245, 245);
}

.filter_options {
  display: none;
  padding: 5%;
}

#color_body {
  display: block;
}

.filter_options p {
  line-height: 1em;
}

.filter_options label {
  color: #242424;
}

[type="checkbox"] + span:not(.lever) {
  font-size: 0.9rem;
}

[type="radio"]:not(:checked) + span,
[type="radio"]:checked + span {
  font-size: 0.9rem;
  font-weight: 400;
  color: rgb(68, 68, 68);
}

[type="checkbox"].filled-in:checked + span:not(.lever):after {
  top: 0;
  width: 20px;
  height: 20px;
  border: 2px solid #000;
  background-color: rgb(59, 0, 94);
  z-index: 0;
}

.color_buttons a {
  margin: 2%;
}

/* FILTERS - END */

/* SUPER CATEGORIES */

.snip1581 {
  position: relative;
  display: inline-block;
  overflow: hidden;
  background-color: #000000;
  color: #ffffff;
  text-align: left;
  font-size: 16px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}

.snip1581 * {
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.snip1581 img {
  width: auto;
  max-width: 100%;
  object-fit: cover;
  vertical-align: top;
}

@media screen and (min-width: 601px) {
  .snip1581 img {
    height: 20vw;
  }
}

.snip1581 figcaption {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 20px;
  background-image: -webkit-linear-gradient(
    bottom,
    rgba(0, 0, 0, 0.973) 0%,
    transparent 100%
  );
  background-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.973) 0%,
    transparent 100%
  );
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.snip1581 h3 {
  font-size: 1.5em;
  font-weight: 400;
  line-height: 1.15;
  letter-spacing: 1px;
  margin: 3px 0;
}

.snip1581 .title1 {
  font-weight: 700;
}

.snip1581 .title2 {
  color: #e9e9e9;
  font-weight: 300;
}

.snip1581 .title3 {
  font-size: 25px;
}

.snip1581 a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.snip1581:hover img,
.snip1581.hover img {
  -webkit-transform: scale(1.1) rotate(1deg);
  transform: scale(1.1) rotate(1deg);
}

/* SUPER CATEGORIES - END */
/* CATEGORIES */

#cat a {
  font-size: 3em;
  text-align: center;
  color: #e6e6e6;
}

/* CATEGORIES - END */

/* FOOTER */

footer {
}

.brand-logo-footer {
  font-size: 2.1rem !important;
  font-family: "Oswald", sans-serif;
}

footer.page-footer {
  margin: 0;
  background-color: rgb(66, 42, 77);
  color: rgb(223, 223, 223) !important;
}

.footer-copyright {
  background-color: rgb(17, 17, 17) !important;
}

.curve {
  transform: translateY(10px);
}

.curve path {
  margin: 0;
  padding: 0;
  bottom: 0;
  background-color: #fff;
  fill: rgb(66, 42, 77);
}

.footer_card {
  background-color: rgb(83, 53, 97);
  font-family: "Poppins", sans-serif;
}

.card-title {
  text-transform: uppercase;
  font-size: 1em !important;
}

.socials a {
  color: rgb(248, 248, 248);
  margin: 4%;
  font-size: 2.5rem;
}

.socials a:hover {
  color: rgb(197, 197, 197);
}

.quick-links li {
  font-size: 0.8em;
  padding: 3%;
}

@media screen and (max-width: 768px) {
  .quick-links li {
    padding: 2%;
  }

  .socials a {
    margin: 2%;
    font-size: 1.5rem;
  }
}

/* FOOTER - END */
