.mx-4 {
    margin: auto 50px;
}

.card-wrapper {
    padding: 0px 50px;
    margin-bottom: 0px;
}

.product-card {
    padding: 70px;
}

.product-card .input-field {
    margin: 15px 0px;
    width: 90%;
}

.card-panel.curvy {
    border-radius: 12px !important;
}
.variant-card {
    padding: 10px 24px;
}
.input-field.inline input {
    font-size: 1rem;
    text-align: center;
    width: 60px;
    height: 22px;
    margin-bottom: 0px;
    margin-top: 0px;
    margin-left: 30%;
}
.input-quantity {
    margin: 0px;
    height: 22px;
    font-size: 1rem;
}
.checkbox-wrapper {
    margin: 5px auto;
}
.display-n {
    display: none !important;
}
.file-field .suffix {
    right: 0px;
}
span.deleteVariant {
    float: right;
}

@media(max-width: 768px) {
    .card-wrapper {
        padding: 0px;
    }
    .product-card {
        padding: 30px;
    }
    .product-card .input-field {
        width: 100%;
    }
}