/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,400i,500,600,700,800');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Oswald&display=swap');


nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.sidenav-trigger {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255, 255, 255, .9);
}

.parallax-container .section {
  width: 100%;
}

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }

  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}

.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

/* CUSTOM EDIT FROM HERE */

/* NAV */

nav {
  height: 15vh !important;
  line-height: 15vh;
  text-transform: uppercase;
}

.nav-ul{
  font-weight: 600;
}

.brand-logo {
  font-size: 2.1rem !important;
  font-family: 'Oswald', sans-serif;
}

/* NAV - END  */



body {
  font-family: 'Montserrat', sans-serif;
  color: #000;
}