/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,400i,500,600,700,800');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Oswald&display=swap');


nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.sidenav-trigger {
  color: rgb(190, 0, 105);
  margin-top: 1vh !important;

}

.parallax-container {
  min-height: 300px;
  line-height: 0;
  height: auto;
  color: rgba(255, 255, 255, .9);
}

.parallax-container .section {
  width: 100%;
}

@media only screen and (max-width : 992px) {
  .parallax-container {
    min-height: 150px;
  }

  .parallax-container .section {
    position: absolute;
  }

  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}

.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
  background-color: rgb(66, 42, 77);
  color: rgb(223, 223, 223) !important;
}

/* CUSTOM EDIT FROM HERE */


body {
  font-family: 'Montserrat', sans-serif;
  color: #000;
  background-color: rgb(248, 248, 248);
}

/* NAV */

nav {
  height: 15vh !important;
  line-height: 15vh;
  text-transform: uppercase;
}

.nav-ul {
  font-weight: 600;
}

.brand-logo {
  font-size: 2.1rem !important;
  font-family: 'Oswald', sans-serif;
}

nav ul a:hover {
  background-color: rgba(255, 0, 0, 0.1);
}

/* DROPDOWN */
nav ul li {
  position: relative;
}

ul li ul.dropdown {
  /* Set width of the dropdown */
  background: #ffffff;
  display: none;
  position: absolute;
  z-index: 999;
  left: 0;
}

nav ul li ul a:hover {
  background-color: rgb(255, 255, 255);
}

ul li:hover ul.dropdown {
  display: block;
  /* Display the dropdown */
}

nav i,
nav [class^="mdi-"],
nav [class*="mdi-"],
nav i.material-icons {
  display: unset;
}

.material-icons-outlined {
  font-weight: 300;
  color: #442644c5;
  vertical-align: middle;
  display: inline;
}

@media screen and (max-width: 992px) {
  .material-icons-outlined {
    color: rgb(156, 0, 86);
    vertical-align: unset;
  }
}

/* NAV - END  */

/* SLIDER */

.slider-container {
  padding: 5%;
  background-color: rgb(245, 245, 245);
}

.carousel.carousel-slider {
  max-height: 60vh;
}

.text-translate {
  transform: translateX(-100px);

}

.slider-title {
  font-size: 4em;
  background-color: rgb(255, 255, 255);
  padding: 1%;
}



#banner_button.btn-large {
  width: 200px;
  transform: translateX(20px);
  height: 70px;
  line-height: 70px;
  font-size: larger;
  background: rgb(255, 90, 90);
  background: linear-gradient(90deg, rgba(255, 90, 90, 1) 0%, rgba(253, 123, 29, 1) 44%, rgba(252, 176, 69, 1) 100%);
  color: rgb(255, 255, 255);

}

#banner_button.btn-large:hover {
  background: rgb(255, 255, 255);
  color: rgb(36, 36, 36);
  border: solid #444 1px;
}

@media screen and (max-width: 768px) {

  .carousel.carousel-slider {
    max-height: 45vh;
  }

  .text-translate {
    transform: translateX(0px);

  }

  .slider-title {
    padding: 3%;
    font-size: 2.7em;
  }

  .btn-large {
    width: 150px !important;
    transform: translateX(0px) !important;
    height: 50px !important;
    line-height: 50px !important;
    font-size: smaller !important;

  }
}

/* SLIDER - END */

/* NEW ARRIVALS */

#new_arrivals {
  background-color: #fff;
  padding-top: 10px;
}

#new_arrivals .title h1 {
  color: #313131;
  font-family: 'Poppins', sans-serif;
  font-size: 2.7em !important;
  font-weight: 700;
}

#new_arrivals .title p {
  color: #686868;
  font-size: 1em !important;
  font-weight: 400;
  padding-bottom: 10px;
}


/* card */
.box_shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transform: translate(3px,3px);
  transition: ease-in-out 140ms;
}


.dress-card {
  border: solid rgb(219, 219, 219) 1px;
  border-radius: 14px;
  margin: 7%;
}

.dress-card-img-top {
  width: 100%;
  height: auto;
  border-radius: 7px 7px 0 0;
}

.dress-card-body {
  padding: 1rem;
  border-radius: 0 0 7px 7px;
}

.dress-card-title {
  line-height: 0.5rem;
  font-size: 1.8em;
}

.dress-card-crossed {
  text-decoration: line-through;
}

.dress-card-price {
  font-size: 1rem;
  font-weight: bold;
}

.dress-card-off {
  color: #E06C9F;
}

.dress-card-para {
  font-size: 1.0rem;
}


#product_button.btn-small {
  height: 50px;
  line-height: 50px;
  background-color: rgb(255, 102, 186);
  color: rgb(255, 255, 255);

}

#product_button.btn-small:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(36, 36, 36);
  border: solid #444 1px;
}

@media screen and (max-width: 768px) {
  .dress-card {
    margin: 5% 0 5% 0;

  }

  #product_button.btn-small {
    height: 40px;
    line-height: 40px;

  }
}



/* NEW ARRIVALS - END */

/* ALL PRODUCTS */

#all_product_button.btn-large {
  margin: 20px;
  background-color: rgb(75, 75, 75);
  color: rgb(255, 255, 255);

}

#all_product_button.btn-large:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(36, 36, 36);
  border: solid #444 1px;
}

/* ALL PRODUCTS - END */

/* QUICK LINKS */
.quick-links li {
  padding: 5%;
}

@media screen and (max-width: 768px) {
  .quick-links li {
    padding: 2%;
  }
}

/* QUICK LINKS - END */



/* LOGIN */
#login {
  margin-top: 10px;
}

.card {
  background-color: rgb(66, 42, 77);
  border-radius: 18px;
}

.input-field>label {
  color: #fff;
}

input:not([type]):focus:not([readonly])+label,
input[type=text]:not(.browser-default):focus:not([readonly])+label,
input[type=password]:not(.browser-default):focus:not([readonly])+label,
input[type=email]:not(.browser-default):focus:not([readonly])+label,
input[type=url]:not(.browser-default):focus:not([readonly])+label,
input[type=time]:not(.browser-default):focus:not([readonly])+label,
input[type=date]:not(.browser-default):focus:not([readonly])+label,
input[type=datetime]:not(.browser-default):focus:not([readonly])+label,
input[type=datetime-local]:not(.browser-default):focus:not([readonly])+label,
input[type=tel]:not(.browser-default):focus:not([readonly])+label,
input[type=number]:not(.browser-default):focus:not([readonly])+label,
input[type=search]:not(.browser-default):focus:not([readonly])+label,
textarea.materialize-textarea:focus:not([readonly])+label {
  color: #c4c4c4;
}

input:not([type]):focus:not([readonly]),
input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=url]:not(.browser-default):focus:not([readonly]),
input[type=time]:not(.browser-default):focus:not([readonly]),
input[type=date]:not(.browser-default):focus:not([readonly]),
input[type=datetime]:not(.browser-default):focus:not([readonly]),
input[type=datetime-local]:not(.browser-default):focus:not([readonly]),
input[type=tel]:not(.browser-default):focus:not([readonly]),
input[type=number]:not(.browser-default):focus:not([readonly]),
input[type=search]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #d1d1d1;
  -webkit-box-shadow: 0 1px 0 0 #d1d1d1;
  box-shadow: 0 1px 0 0 #d1d1d1;
}

#submit_button.btn-large {
  margin: 20px;
  margin-left: 0;
  background-color: rgb(255, 102, 186);
  color: rgb(255, 255, 255);

}

#submit_button.btn-large:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(36, 36, 36);
  border: solid #444 1px;
}

.input-field .prefix.active {
  color: rgb(255, 172, 217);
}

/* LOGIN - END */

/* BREADCRUMB */
.breadcrumb_wrapper {
  font-family: Poppins, sans-serif;
  z-index: -1;
  padding-top: 2%;
  padding-bottom: 2%;
  background-color: rgba(29, 29, 29, 0.562);
}

.breadcrumb_wrapper a {
  font-size: 1em;
}



@media screen and (max-width: 768px) {

  .breadcrumb_wrapper a {
    font-size: 0.7em;
  }

  .breadcrumb_wrapper .header {
    font-size: 1em;
  }

}

/* BREADCRUMB - END */


/* PRODUCT */
.product_image {
  text-align: center;

}

.product_image img {
  width: 80%;
  height: auto;
  margin: 10%;
}

.product_details {
  font-family: 'Poppins', sans-serif;
}

.product_details h2 {
  color: #444;
  font-size: 2.4em;
  font-weight: 600;
  /* text-transform: uppercase; */
}

.product_details ul {
  line-height: 2em;
  display: flex;
  margin-top: 7px;
}

.product_details ul li {
  padding-right: 3%;
}

.product_details ul .mrp {
  color: rgb(145, 145, 145);
  font-size: 1.2em;
  text-decoration: line-through;
}

.product_details ul .price {
  font-size: 1.7em;
}


.product_details .product_availability p {
  font-size: 1.1em;
  font-weight: 600;
  color: rgb(85, 85, 85);
}

select {
  width: 30%;
  border: solid #bdbdbd 2px;
  border-radius: 10px;
}

.product_category {
  padding: 4%;
  padding-left: 0;
  font-size: 1.1em;
  font-weight: 600;
}

.product_category a {
  color: rgb(218, 0, 199);
}

#add_to_cart.btn-large {
  width: 200px;
  height: 70px;
  line-height: 70px;
  font-size: larger;
  background-color: rgb(255, 102, 186);
  color: rgb(255, 255, 255);

}

#add_to_cart.btn-large:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(36, 36, 36);
  border: solid #444 1px;
}

@media screen and (max-width: 768px) {
  .product_image img {
    margin: 5%;
    margin-bottom: 0;
  }
}

/* PRODUCT - END */

/* CONTACT.HTML */
/* MAPS */
.maps {
  margin-top: 30px;
}

.maps img {
  width: 100%;
  height: auto;
}

.address {
  align-items: center;
  display: flex;
  margin-top: 20px;
}

.address__icon i {
  color: #fefefe;
  font-size: 36px;
}

.address__icon {
  background: #c43b68 none repeat scroll 0 0;
  height: 120px;
  line-height: 144px;
  text-align: center;
  width: 110px;
}

.address__details {
  background: #f5f5f5 none repeat scroll 0 0;
  flex-basis: calc(100% - 110px);
  padding-left: 5%;
  padding-right: 5%;
}

.address__details h2 {
  color: #212121;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
}

.address__details p {
  color: #666666;
  font-size: 16px;
  margin-top: 10px;
}

/* MAPS - END*/